{% extends 'baseapp/base.html' %}
{% block content %}

<div class="col-md-12 p-4 text-center">
    
    {% if request.user.is_authenticated %}
    <p>Currently logged in as '{{ request.user }}'</p> &nbsp; <a href="{% url 'logout' %}"><button class="btn btn-sm btn-outline-dark">Logout</button></a>

    {% else %}
    <p>Currently logged in as '{{ request.user }}'</p> &nbsp; <a href="{% url 'login' %}"><button class="btn btn-sm btn-outline-dark">Login</button></a>
    {% endif %}
</div>

<div class="container">
   
</div>
<div class="container pt-4">
        
    <div class="container">
        <p>Search results in Your Private Notes</p>
        <div class="row">
        {% if request.user.is_authenticated %}
            {% for note in note_list %}
             
            {% if note.author == request.user %}
                <div class="col-md-4 border-primary mb-4" >
                    <div class="shadow bg-white rounded p-3" style="width: 290px;height: 190px;">                    <div class="header ">
                    <p class="note-author">{{note.author}} &nbsp; 
                    {% if note.author == request.user %}
                    <a style="float: right;text-decoration: none;color:black;" href="{%  url 'note-delete' note.pk %}"><i class="fa fa-trash"></i></a> 
                    {% endif %}
                        <br><span class="note-date">{{note.created_on}}</span></p>
                    </div>
                    <div class="">
                        <p class="note-title p-0 m-0">{{note.title}}</p>
                        <span class="note-text" >{{note.body}}</span>
                        
                    </div>
                </div>
               
            
            </div>
            
                
            {% endif %}
            {% empty %}
            <p>You haven't save any note, create one <a href="{% url 'create-note' %}" class="btn btn-sm btn-outline-dark">Create a note</a> </p>
            
            {% endfor %}
            
        {% else %}
            <p>Please, log in to see your private notes!</p>
        {% endif %}

        <div class="container pt-4">
        
            <div class="">
                <p>Search results in Public Notes</p>
                <div class="row">
                    {% for note in note_list %}
                    
                    
                    <div class="col-md-4 border-primary mb-4" >
                        <div class="shadow bg-white rounded p-3" style="width: 290px;height: 190px;">
                            <div class="header ">
                            <p class="note-author">{{note.author}} &nbsp; 
                            {% if note.author == request.user %}
                            <a style="float: right;text-decoration: none;color:black;" href="{%  url 'note-delete' note.pk %}"><i class="fa fa-trash"></i></a> 
                            {% endif %}
                                <br><span class="note-date">{{note.created_on}}</span></p>
                            
    
                            </div>
                            <div class="">
                                <p class="note-title p-0 m-0">{{note.title}}</p>
                                <span class="note-body" >{{note.body}}</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>
    
                    {% endfor %}
    
            
                
                
               
                </div>
            </div>
        </div>
    
                
            

    </div>
</div>

{% endblock content %}